.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@font-face {
  font-family: 'WorkSans';
  src: url('/assets/fonts/WorkSans-VariableFont_wght.ttf');
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'WorkSans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('/assets/images/background-pattern-desktop.svg') no-repeat
      center top,
    hsl(275, 100%, 97%);
  background-size: 100%;
  background-attachment: fixed;
}

#main {
  height: 484px;
  width: 540px;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
}

#header {
  display: flex;
  align-items: baseline;
  gap: 33px;
}

#header img {
  height: 38px;
  object-fit: contain;
}

#header h1 {
  font-size: 3.7rem;
}

#faqs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#faqs .questions {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#faqs button {
  border: none;
  width: 0;
  margin-right: 25px;
  cursor: pointer;
}

#faqs h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

#faqs article {
  color: #707070;
  line-height: 1.5;
}

.answer1 {
  margin-top: 20px;
}

#faq1,
#faq2,
#faq3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  padding-bottom: 20px;
}

@media (max-width: 480px) {
  #main {
    width: 380px;
    padding: 20px;
    border-radius: 15px;
  }
  #header {
    gap: 15px;
  }
  #header img {
    height: 30px;
  }
  #header h1 {
    font-size: 2rem;
  }
  #faqs {
    margin-top: 25px;
    gap: 10px;
  }
  #faqs h2 {
    font-size: 1rem;
    line-height: 1.5;
  }
  #faqs article {
    font-size: 0.9rem;
  }
  #faq1,
  #faq2,
  #faq3 {
    padding-bottom: 10px;
  }
}
